@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
	font-family: 'Press Start 2P', cursive;
	margin: 0;
}

#players {
	padding-left: 40px;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: black;
	color: white;
}

#game {
	margin: 10px;
	padding: 20px;
	height: auto;
	width: 95%;
}

div div {
	width: 71px;
	height: 71px;
	float: left;
	margin: 10px;
	padding: 15px;
	font-size: 79px;
	cursor: pointer;
	text-align: center;
}

.hidden {
	border: thin solid black;
	background-color: black;
}

.open {
	border: thin solid black;
}

.taken {
	visibility: hidden;
}