@import url('https://fonts.googleapis.com/css?family=Coda');

canvas {
	margin: 0 auto;
}

body {
	font-family: 'Coda', cursive;
}

.control {
	width: 400px;
	height: 200px;
	margin: inherit;
	display: inline;
	float: left;
}

@media only screen and (min-width: 1025px) {
	.control {
		display: none;
	}
}